@media (min-width: 768px) {
  .box {
    width: 60%;
  }
}
body {
  background-color: #f5e6ff;
  margin: 0;
}
.App {
  font-family: sans-serif;
}

.navigation {
  background-color: white;
  color: black;
  padding: 2.5rem;
}

.box {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #333399;
  border-radius: 10px;
  display: block;
  margin: 20px;
}

button {
  margin: 10px;
}
